body{
        
    background-color: rgb(241, 215, 204);
       }

       .ww{
        width: 70%;
        padding-left: 50px;
                
      }
      .tr{
          text-align: center;
      }
      h1{
          text-align: center;
      }